Boruta==0.3
conda==23.3.1
conda-build==3.24.0
folium==0.14.0
functools==3.10.9
geopandas==0.13.0
hyperopt==0.2.7
imageio==2.26.0
imbalanced-learn==0.10.1
IPython==8.10.0
lightgbm==3.3.5
matplotlib==3.6.3
numpy==1.23.5
pandas==2.0.2
pandas-profiling==3.6.6
python==3.10.9
scikit-learn==1.2.1
scipy==1.9.3
seaborn==0.12.2
sklearn-genetic==0.5.1
xgboost==1.7.6
ydata-profiling==4.1.2